/* Reset Style */
* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}
/* Navbar Start */
header {
  height: 98px;
}

.container {
  max-width: 1320px;
  margin: auto;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 25px 0;
}
img {
  max-width: 100%;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 24px;
  align-items: center;
  padding: 12px 0;
}
ul li a {
  text-decoration: none;
  color: #575757ff;
  font-size: 16px;
  font-weight: 400;
}
span {
  font-family: "Arimo", sans-serif;
}
.navbar-btn {
  background-color: #1d4ed8ff;
  width: 188px;
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffffff;
  padding: 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
/* Banner section start */
.banner-parent {
  background-image: url(./assets/banner.jpg);
  width: 100%;
  height: 786px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.banner-content {
  color: white;
  max-width: 959px;
  padding-top: 136px;
  text-align: center;
  margin: 0 auto;
}

.banner-heading {
  font-size: 80px;
  font-weight: 700;
}
.banner-paragraph {
  font-size: 22px;
  font-weight: 400;
  margin-top: 16px;
  color: #ffffffe5;
}
.banner-btn-parent {
  margin-top: 278px;
  margin-bottom: 79px;
}

.banner-btn {
  background-color: #1d4ed8ff;
  width: 282px;
  height: 74px;
  font-size: 24px;
  font-weight: 700;
  color: #ffffffff;

  padding: 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
/* Banner section end */
/* Speakers section start */
.speakers-parent {
  margin: 0 auto 33px;
  padding-top: 80px;
  text-align: center;
}
.speakers-parent h2 {
  font-size: 56px;
  font-weight: 700;
  color: #000102ff;
}
.speakers-box-parent {
  padding-top: 56px;
  display: grid;
  grid-template-columns: repeat(2, 644px);
  gap: 34px;
}
.box {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  height: 460px;
  overflow: hidden;
}
.speakers-info {
  text-align: left;
  padding: 24px;
}

.speakers-track {
  color: #2563ebff;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 8px;
}
.speakers-name {
  color: #0d1b2aff;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}
.speakers-title {
  color: #575757;
  font-size: 14px;
  font-weight: 400;
}
/* Speakers section end  */
/* Pricing section start */
.pricing-parent {
  margin: 0 auto;
  text-align: center;
}
.notice {
  font-size: 48px;
  font-weight: 700;
  color: #0d1b2aff;
}
.deadline {
  font-size: 16px;
  font-weight: 400;
  color: #575757ff;
  margin-top: 12px;
}
.pricing-box-parent {
  padding: 48px 104px 80px;
  display: grid;
  grid-template-columns: repeat(3, 371px);
  gap: 24px;
}
.pricing-box {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  height: 442px;
  padding: 32px;
  text-align: left;
  box-sizing: border-box;
}
.pricing-box.middle-box-pricing-box {
  background-color: #0d1b2aff;
}

.plan-name {
  color: #888888ff;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 8px;
}
.plan-name.middle-box-plan-name {
  color: #93c5fdff;
}
.price {
  color: #0d1b2aff;
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 4px;
}
.price.middle-box-plan {
  color: #ffffffff;
}
.price-description {
  color: #888888ff;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 27px;
}
.price-description.middle-box-price-description {
  color: #ffffff80;
}
.line-style {
  border: none;
  height: 1px;
  background-color: #e5e7ebff;
}
.line-style.middle-box-line-style {
  background-color: #ffffff1a;
}
.features {
  margin-top: 27px;
}
.features li {
  margin-bottom: 10px;
  list-style: none;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
}
.features.middle-box-features li {
  color: #ffffffcc;
}
.features li::before {
  content: "•";
  color: #2563ebff;
  padding-right: 8px;
}
.features.middle-box-features li::before {
  color: #60a5faff;
}
.pricing-box button {
  margin-top: 18px;
  width: 305px;
  height: 45px;
  background-color: white;
  padding: 12px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  color: #2563ebff;
  border: 1px solid #2563ebff;
  cursor: pointer;
}
.pricing-box.middle-box-pricing-box button {
  background-color: #2563ebff;
  color: #ffffffff;
}
/* Pricing section end */

/* Hackathon section start */

.hackathon-section {
  width: 100%;
  padding: 0 104px 60px;
  background-color: #ffffff;
  box-sizing: border-box;
}
/* Header */
.hackathon-header {
  max-width: 900px;
  margin: 0 auto 70px;
  text-align: center;
}

.hackathon-label {
  margin: 0 0 25px;
  color: #6037ff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
}

.hackathon-title {
  margin: 0;
  color: #11103d;
  font-size: 72px;
  line-height: 1.1;
  font-weight: 700;
}

.hackathon-title span {
  color: #6037ff;
}

.hackathon-description {
  max-width: 760px;
  margin: 30px auto 0;
  color: #64708c;
  font-size: 18px;
  line-height: 1.7;
}
/* Stat */
.hackathon-card {
  min-height: 185px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  border: 1px solid #e0e5f2;
  border-radius: 24px;

  background-color: #ffffff;

  box-shadow: 0 15px 40px rgba(73, 60, 180, 0.08);

  overflow: hidden;
}

.hackathon-stat {
  display: flex;
  align-items: center;
  gap: 28px;

  padding: 40px 55px;
}

.hackathon-stat + .hackathon-stat {
  border-left: 1px solid #e0e5f2;
}

.stat-icon {
  width: 64px;
  height: 64px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 18px;

  background-color: #f0efff;

  color: #6037ff;

  font-size: 28px;
  font-weight: 700;
}

.hackathon-stat h3 {
  margin: 0 0 7px;

  color: #11103d;

  font-size: 29px;
  font-weight: 700;
}

.hackathon-stat p {
  margin: 0;

  color: #64708c;

  font-size: 15px;
}

/* Cta */

.hackathon-cta {
  max-width: 1320px;
  min-height: 180px;

  margin: 40px auto 0;

  padding: 40px 60px;

  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid #d9d7ff;
  border-radius: 24px;

  background-color: #f7f6ff;
}

.cta-label {
  margin: 0 0 14px;

  color: #6037ff;

  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
}

.hackathon-cta h3 {
  margin: 0;

  color: #11103d;

  font-size: 32px;
  font-weight: 700;
}

.hackathon-btn {
  border: none;
  border-radius: 13px;

  padding: 19px 30px;

  background-color: #4d25e8;
  color: #ffffff;

  font-size: 16px;
  font-weight: 700;

  cursor: pointer;

  transition: 0.3s ease;
}

.hackathon-btn span {
  margin-left: 18px;
  font-size: 22px;
}

.hackathon-btn:hover {
  background-color: #6037ff;
  transform: translateY(-2px);
}

/* Bottom features */

.hackathon-bottom {
  max-width: 1100px;

  margin: 50px auto 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 15px;

  padding: 10px 25px;
}

.bottom + .bottom {
  border-left: 1px solid #e0e5f2;
}

.bottom span {
  color: navy;

  font-size: 23px;
}

.bottom p {
  margin: 0;

  color: #64708c;

  font-size: 15px;
}
/* Hackathon section end */
/* Footer section start */
footer {
  background-color: #11192d;
  color: #f5f6f6;
}
.footer-parent {
  padding-bottom: 30px;
}
.footer {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
/* left */
footer img {
  margin-bottom: 6px;
}
.footer-left-description {
  margin-bottom: 12px;
}
.footer-icon-parent {
  font-size: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer-icon-parent span:hover {
  transform: translateY(-4px);
}

.github-icon.x-twitter-icon {
  color: black;
}
.linkdin-icon {
  color: #60a5faff;
}

.youtube-icon {
  color: red;
}
/* Middle */
.footer-middle {
  padding-left: 160px;
}
.footer-heading {
  margin-bottom: 23px;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1px;
}
.footer li {
  list-style: none;
  cursor: pointer;
}
.footer li::before {
  content: "»";
  padding-right: 8px;
}
/* Right */
.footer-right {
  padding-left: 120px;
}
.footer-right-font {
  display: grid;
  grid-template-columns: 0.5fr 3fr;
}
.location-font {
  color: red;
  margin-bottom: 20px;
}
.mail-font {
  color: yellow;
  margin-bottom: 20px;
}
.telephone-font {
  color: green;
}
/* Down */
.footer-breakline {
  border: none;
  height: 1px;
  background-color: #333333;
}
.footer-note {
  margin-top: 31px;
  text-align: center;
  padding-bottom: 30px;
  color: #ffffff80;
}
/* Footer section end */
