/* Reset Style */
* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}
/* Navbar Start */

.container {
  max-width: 1320px;
  margin: auto;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 25px 0;
}
img {
  max-width: 100%;
}
ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 24px;
  align-items: center;
  padding: 12px 0;
}
ul li a {
  text-decoration: none;
  color: #575757ff;
  font-size: 16px;
  font-weight: 400;
}
span {
  font-family: "Arimo", sans-serif;
}
.navbar-btn {
  background-color: #1d4ed8ff;
  width: 188px;
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffffff;
  padding: 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
/* Banner section start */
.banner-parent {
  background-image: url(./assets/banner.jpg);
  background-size: 100%;
  height: 786px;
}

.banner-heading {
  font-size: 80px;
  font-weight: 700;
  width: 959px;
  height: 95px;
  color: #ffffffff;
  padding: 136px 252px 16px 340px;
  text-align: center;
}
.banner-paragraph {
  font-size: 22px;
  font-weight: 400px;
  width: 829px;
  height: 108px;
  color: #ffffffe5;
  padding: 0px 301px 278px 421px;

  text-align: center;
}
.banner-btn-parent {
  padding: 0px 617px 79px 652px;
}
.banner-btn {
  background-color: #1d4ed8ff;
  width: 282px;
  height: 74px;
  font-size: 24px;
  font-weight: 700;
  color: #ffffffff;

  padding: 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
/* Banner section end */
